*.json
*.out
.gdb_history
*.swp

# build folders
release/
debug/

# ansible files
*.retry

# CMake files
*.CMake
CMakeCache.txt
CMakeFiles/

# Windows build files
*.sln
*.vcxproj
*.vcxproj.*
win32/
*.dir/
.vs/
.vscode/